In [1]:
# Vamos a cargar las librerÃ­as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub

C:\Users\User\AppData\Roaming\Python\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
import pandas as pd
import zipfile
import os

# Ruta al archivo ZIP (ajÃºstala si es necesario)
zip_path = "data/amazon-products-dataset.zip"

# Extraer los archivos en una carpeta temporal
extract_folder = "amazon_data"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_folder)

# Listar los archivos CSV extraÃ­dos
csv_files = [f for f in os.listdir(extract_folder) if f.endswith('.csv')]

# Leer y concatenar todos los CSV en un solo DataFrame
dataframes = []
for file in csv_files:
    file_path = os.path.join(extract_folder, file)
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Unir todos los DataFrames en uno solo
amazon_data = pd.concat(dataframes, ignore_index=True)

# Mostrar un resumen de los datos
print(f"ðŸ”¹ Total de filas: {amazon_data.shape[0]}")
print(f"ðŸ”¹ Total de columnas: {amazon_data.shape[1]}")
print("ðŸ”¹ Columnas y tipos de datos:")
print(amazon_data.dtypes)
print("\nðŸ”¹ Primeras filas del dataset:")
print(amazon_data.head())

# Guardar el DataFrame unido como un nuevo archivo CSV
amazon_data.to_csv("amazon_data_combined.csv", index=False)

ðŸ”¹ Total de filas: 1103170
ðŸ”¹ Total de columnas: 10
ðŸ”¹ Columnas y tipos de datos:
name               object
main_category      object
sub_category       object
image              object
link               object
ratings            object
no_of_ratings      object
discount_price     object
actual_price       object
Unnamed: 0        float64
dtype: object

ðŸ”¹ Primeras filas del dataset:
                                                name main_category  \
0  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...    appliances
1  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...    appliances
2  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...    appliances
3  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...    appliances
4  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...    appliances

       sub_category                                              image  \
0  Air Conditioners  https://m.media-amazon.com/images/I/31UISB90sY...
1  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
2  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
3  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
4  Air Conditioners  https://m.media-amazon.com/images/I/41lrtqXPiW...

                                                link ratings no_of_ratings  \
0  https://www.amazon.in/Lloyd-Inverter-Convertib...     4.2         2,255
1  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.2         2,948
2  https://www.amazon.in/LG-Inverter-Convertible-...     4.2         1,206
3  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.0            69
4  https://www.amazon.in/Carrier-Inverter-Split-C...     4.1           630

  discount_price actual_price  Unnamed: 0
0        â‚¹32,999      â‚¹58,990         NaN
1        â‚¹46,490      â‚¹75,990         NaN
2        â‚¹34,490      â‚¹61,990         NaN
3        â‚¹37,990      â‚¹68,990         NaN
4        â‚¹34,490      â‚¹67,790         NaN

In [2]:
df = pd.read_csv("amazon_data_combined.csv")
df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","â‚¹32,999","â‚¹58,990",NaN
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","â‚¹46,490","â‚¹75,990",NaN
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","â‚¹34,490","â‚¹61,990",NaN
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"â‚¹37,990","â‚¹68,990",NaN
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"â‚¹34,490","â‚¹67,790",NaN

In [3]:
# Revisar dimensiones del dataset
df_shape = df.shape

# Revisar tipos de datos y valores nulos
df_info = df.info()

# Contar valores nulos por columna
df_nulls = df.isnull().sum()

# Contar duplicados
df_duplicates = df.duplicated().sum()

# EstadÃ­sticas descriptivas para variables numÃ©ricas
df_describe = df.describe()

df_shape, df_info, df_nulls, df_duplicates, df_describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103170 entries, 0 to 1103169
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   name            1103170 non-null  object
 1   main_category   1103170 non-null  object
 2   sub_category    1103170 non-null  object
 3   image           1103170 non-null  object
 4   link            1103170 non-null  object
 5   ratings         751582 non-null   object
 6   no_of_ratings   751582 non-null   object
 7   discount_price  980844 non-null   object
 8   actual_price    1067544 non-null  object
 9   Unnamed: 0      551585 non-null   float64
dtypes: float64(1), object(9)
memory usage: 84.2+ MB

((1103170, 10),
 None,
 name                   0
 main_category          0
 sub_category           0
 image                  0
 link                   0
 ratings           351588
 no_of_ratings     351588
 discount_price    122326
 actual_price       35626
 Unnamed: 0        551585
 dtype: int64,
 np.int64(0),
           Unnamed: 0
 count  551585.000000
 mean     7006.200471
 std      5740.835523
 min         0.000000
 25%      1550.000000
 50%      5933.000000
 75%     11482.000000
 max     19199.000000)

In [4]:
df.shape  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103170 entries, 0 to 1103169
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   name            1103170 non-null  object
 1   main_category   1103170 non-null  object
 2   sub_category    1103170 non-null  object
 3   image           1103170 non-null  object
 4   link            1103170 non-null  object
 5   ratings         751582 non-null   object
 6   no_of_ratings   751582 non-null   object
 7   discount_price  980844 non-null   object
 8   actual_price    1067544 non-null  object
 9   Unnamed: 0      551585 non-null   float64
dtypes: float64(1), object(9)
memory usage: 84.2+ MB

In [5]:
df.sample(10)

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
457041,Amazon Brand - Arthur Harvey Men's Regular Fit...,men's clothing,Shirts,https://m.media-amazon.com/images/I/71e7BqHbFY...,https://www.amazon.in/Amazon-Brand-Arthur-Regu...,3.9,276,â‚¹689,"â‚¹1,999",11778.0
993344,Jack Martin 400 4.1 Bluetooth/SD Card/Pendrive...,"tv, audio & cameras",Speakers,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/400-Bluetooth-Pendrive-M...,3.7,38,"â‚¹6,599","â‚¹8,499",NaN
1002169,AIVIN Pro Rattle Snake Football Stud (Black) U...,men's shoes,Sports Shoes,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/AIVIN-Rattle-Snake-Footb...,4.6,3,NaN,NaN,NaN
650965,Lazard by Khadim's Men Navy Casual Loafer Shoe,men's shoes,Casual Shoes,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Lazard-Khadims-Brown-Cas...,3.7,16,â‚¹879,"â‚¹1,599",NaN
236964,PC Jeweller The Drudwyn 22k (916) Yellow Gold ...,accessories,Gold & Diamond Jewellery,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/PC-Jeweller-Drudwyn-Yell...,NaN,NaN,"â‚¹44,087","â‚¹52,222",13336.0
430671,WorldCareÂ® 10.1cm 7.8g Swim Fish Fishing Artif...,bags & luggage,Rucksacks,https://m.media-amazon.com/images/I/21Qbd1h6CA...,https://www.amazon.in/WorldCare%C2%AE-Fishing-...,FREE,Usually dispatched in 3 to 4 weeks.,â‚¹899,"â‚¹1,832",1728.0
718231,Glass Bangles for Women & Girl's (Pack of 24),accessories,Fashion & Silver Jewellery,https://m.media-amazon.com/images/I/41R1mnWZ0j...,https://www.amazon.in/Generic-Oneness-Colour-B...,4.2,53,â‚¹199,â‚¹499,NaN
154255,U.S. POLO ASSN. Men Sweatshirt,sports & fitness,Cricket,https://m.media-amazon.com/images/I/817W1ya9IO...,https://www.amazon.in/Association-Cotton-Sweat...,4.6,9,"â‚¹1,036","â‚¹2,799",823.0
770191,Zeonely Mart Cotton Potli Bags For Return Gift...,accessories,Handbags & Clutches,https://m.media-amazon.com/images/I/61D4c+vOaT...,https://www.amazon.in/Zeonely-Cotton-Potli-Ret...,5.0,1,â‚¹320,â‚¹600,NaN
108981,CALANDIS Camping Tent Storage Backpack Travel ...,sports & fitness,Camping & Hiking,https://m.media-amazon.com/images/I/51jxwKyu2j...,https://www.amazon.in/CALANDIS-Camping-Storage...,NaN,NaN,"â‚¹3,818","â‚¹7,255",669.0

In [6]:
# Vanos a arreglar las columnas que tienen datos tipo object que quiero hacerlos numericos.
# Creamos una copia del dataset para no modificar el original
df_clean = df.copy()
# Mostrar algunos valores Ãºnicos para entender el formato original
print("Valores Ãºnicos de ejemplo en 'actual_price':")
print(df_clean['actual_price'].dropna().unique()[:10])

Valores Ãºnicos de ejemplo en 'actual_price':
['â‚¹58,990' 'â‚¹75,990' 'â‚¹61,990' 'â‚¹68,990' 'â‚¹67,790' 'â‚¹70,990' 'â‚¹49,990'
 'â‚¹67,990' 'â‚¹58,190' 'â‚¹73,990']

In [8]:
# Convertimos a string por si hay nÃºmeros mezclados con texto
df_clean['actual_price'] = df_clean['actual_price'].astype(str)
# Eliminamos simbolos de moneda, comas y espacios
df_clean['actual_price'] = df_clean['actual_price'].str.replace(r'[^\d.]', '', regex=True)
# Reemplazos strings vacios con NaN
df_clean['actual_price'] = df_clean['actual_price'].replace('', np.nan)
# Convertimos a float
df_clean['actual_price'] = df_clean['actual_price'].astype(float)
# Verifica el resultado
print("\nResumen despuÃ©s de limpieza:")
print(df_clean['actual_price'].describe())
print("Valores nulos:", df_clean['actual_price'].isnull().sum())

Resumen despuÃ©s de limpieza:
count    1.067544e+06
mean     2.311128e+04
std      1.355081e+07
min      0.000000e+00
25%      9.900000e+02
50%      1.599000e+03
75%      2.999000e+03
max      9.900000e+09
Name: actual_price, dtype: float64
Valores nulos: 35626

In [14]:
# Hago lo mismo con la columna discount_price
df_clean['discount_price'] = df_clean['discount_price'].astype(str)
# Eliminamos simbolos de moneda, comas y espacios
df_clean['discount_price'] = df_clean['discount_price'].str.replace(r'[^\d.]', '', regex=True)
# Reemplazos strings vacios con NaN
df_clean['discount_price'] = df_clean['discount_price'].replace('', np.nan)
# Convertimos a float
df_clean['discount_price'] = df_clean['discount_price'].astype(float)
# Verifica el resultado
print("\nResumen despuÃ©s de limpieza:")
print(df_clean['discount_price'].describe())
print("Valores nulos:", df_clean['discount_price'].isnull().sum())

Resumen despuÃ©s de limpieza:
count    9.808440e+05
mean     2.623161e+03
std      9.458191e+03
min      8.000000e+00
25%      3.890000e+02
50%      6.790000e+02
75%      1.399000e+03
max      1.249990e+06
Name: discount_price, dtype: float64
Valores nulos: 122326

In [16]:
# Limpio las columnas 'actual_price' y 'discount_price' de una sola vez
for col in ['actual_price', 'discount_price']:
    df_clean[col] = (
        df_clean[col]
        .astype(str)
        .str.replace(r'[^\d.]', '', regex=True)
        .replace('', np.nan)
        .astype(float))

In [12]:
# Elimino la columna UnaUnnamed: 0
df_clean.drop(columns=['Unnamed: 0'], inplace=True)

In [19]:
# Convierto la columna 'no_of_ratings a int:
# Paso 1: Reemplazar comas, convertir a numÃ©rico (maneja NaN automÃ¡ticamente)
df_clean['no_of_ratings'] = (
    df_clean['no_of_ratings']
    .astype(str)
    .str.replace(',', '', regex=True)
)

# Paso 2: Convertir a float primero para permitir NaNs
df_clean['no_of_ratings'] = pd.to_numeric(df_clean['no_of_ratings'], errors='coerce')

# Paso 3: Rellenar nulos si es necesario (aquÃ­ con 0, puedes cambiarlo por mediana si prefieres)
df_clean['no_of_ratings'] = df_clean['no_of_ratings'].fillna(0).astype(int)

In [20]:
df_clean.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0

In [21]:
# Analizando los datos veo que estaria bien crear la columna 'discount_percentage' para ver el descuento que tiene el producto.
df_clean['discount_percent'] = (
    (df_clean['actual_price'] - df_clean['discount_price']) / df_clean['actual_price']
).round(2) * 100

In [22]:
df_clean.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,discount_percent
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0,44.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0,39.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0,44.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0,45.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0,49.0

In [23]:
# Con los datos ya limpios y estructurados guardo el dataset limpo en un nuevo archivo CSV
df_clean.to_csv("amazon_datos_limpios.csv", index=False)