In [1]:
# Vamos a cargar las librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("../data/data_procesed/amazon_data_combined.csv")
df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990",NaN
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990",NaN
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990",NaN
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990",NaN
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790",NaN

In [4]:
# Revisar dimensiones del dataset
df_shape = df.shape

# Revisar tipos de datos y valores nulos
df_info = df.info()

# Contar valores nulos por columna
df_nulls = df.isnull().sum()

# Contar duplicados
df_duplicates = df.duplicated().sum()

# Estadísticas descriptivas para variables numéricas
df_describe = df.describe()

df_shape, df_info, df_nulls, df_duplicates, df_describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103170 entries, 0 to 1103169
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   name            1103170 non-null  object
 1   main_category   1103170 non-null  object
 2   sub_category    1103170 non-null  object
 3   image           1103170 non-null  object
 4   link            1103170 non-null  object
 5   ratings         751582 non-null   object
 6   no_of_ratings   751582 non-null   object
 7   discount_price  980844 non-null   object
 8   actual_price    1067544 non-null  object
 9   Unnamed: 0      551585 non-null   float64
dtypes: float64(1), object(9)
memory usage: 84.2+ MB

((1103170, 10),
 None,
 name                   0
 main_category          0
 sub_category           0
 image                  0
 link                   0
 ratings           351588
 no_of_ratings     351588
 discount_price    122326
 actual_price       35626
 Unnamed: 0        551585
 dtype: int64,
 np.int64(0),
           Unnamed: 0
 count  551585.000000
 mean     7006.200471
 std      5740.835523
 min         0.000000
 25%      1550.000000
 50%      5933.000000
 75%     11482.000000
 max     19199.000000)

In [5]:
df.sample(10)

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
479962,Reebok Mens City Central Running Shoe,men's shoes,Sports Shoes,https://m.media-amazon.com/images/I/715biwY00R...,https://www.amazon.in/Reebok-Lghsolidgrey-Grav...,4.2,14,"₹1,521","₹3,799",2971.0
754318,Malabar Gold & Diamonds 22k (916) Yellow Gold ...,accessories,Gold & Diamond Jewellery,https://m.media-amazon.com/images/I/61n0zY2YxT...,https://www.amazon.in/Malabar-Gold-Diamonds-Ye...,NaN,NaN,"₹18,759","₹21,599",NaN
25381,Nivia Wrist Support (Black),sports & fitness,"All Sports, Fitness & Outdoors",https://m.media-amazon.com/images/I/712q-L4JYa...,https://www.amazon.in/Nivia-Wrist-Support-Blac...,4.1,"5,083",₹179,₹185,NaN
1013282,MUTAQINOTI Sky Blue Men's Canvas Sneakers Ligh...,men's shoes,Sports Shoes,https://m.media-amazon.com/images/I/71GTKbt7Un...,https://www.amazon.in/MUTAQINOTI-Sneakers-Ligh...,NaN,NaN,₹849,"₹1,999",NaN
942740,Aramish Men's Hiking & Trekking Shoes,stores,Men's Fashion,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Aramish-Synthetic-Bike-R...,3.3,9,₹899,"₹1,499",NaN
720370,"Luxyfeel Women's Fashion Sandal | Soft, Comfor...",women's shoes,Fashion Sandals,https://m.media-amazon.com/images/I/51kwnJsqoa...,https://www.amazon.in/Luxyfeel-Comfortable-Sty...,NaN,NaN,₹699,"₹1,499",NaN
21515,AFPIN Tummy Twister Abdominal ab Exerciser Ton...,sports & fitness,All Exercise & Fitness,https://m.media-amazon.com/images/I/71x21H47Hh...,https://www.amazon.in/AFPIN-Abdominal-Exercise...,3.5,28,₹249,₹699,NaN
246617,The House of tara - Grey Black Handloom Fabric...,accessories,Handbags & Clutches,https://m.media-amazon.com/images/I/81j5gmA+qn...,https://www.amazon.in/House-Handloom-Fabric-Cr...,3.5,8,"₹1,125","₹1,699",3885.0
1051095,KAIWEETS 5PCS Alligator Clips Electrical Test ...,industrial supplies,"Test, Measure & Inspect",https://m.media-amazon.com/images/I/81NQVi8iaT...,https://www.amazon.in/KAIWEETS-Alligator-Elect...,4.7,507,"₹1,299","₹2,549",NaN
607901,Vihaan Creation Women's Flat Casual Stylish Co...,women's shoes,Ballerinas,https://m.media-amazon.com/images/I/41JVhi3Bu-...,https://www.amazon.in/Creation-Stylish-Comfota...,NaN,NaN,"₹4,499","₹8,999",NaN

In [6]:
# Vanos a arreglar las columnas que tienen datos tipo object que quiero hacerlos numericos.
# Creamos una copia del dataset para no modificar el original
df_clean = df.copy()
# Mostrar algunos valores únicos para entender el formato original
print("Valores únicos de ejemplo en 'actual_price':")
print(df_clean['actual_price'].dropna().unique()[:10])

Valores únicos de ejemplo en 'actual_price':
['₹58,990' '₹75,990' '₹61,990' '₹68,990' '₹67,790' '₹70,990' '₹49,990'
 '₹67,990' '₹58,190' '₹73,990']

In [7]:
# Convertimos a string por si hay números mezclados con texto
df_clean['actual_price'] = df_clean['actual_price'].astype(str)
# Eliminamos simbolos de moneda, comas y espacios
df_clean['actual_price'] = df_clean['actual_price'].str.replace(r'[^\d.]', '', regex=True)
# Reemplazos strings vacios con NaN
df_clean['actual_price'] = df_clean['actual_price'].replace('', np.nan)
# Convertimos a float
df_clean['actual_price'] = df_clean['actual_price'].astype(float)
# Verifica el resultado
print("\nResumen después de limpieza:")
print(df_clean['actual_price'].describe())
print("Valores nulos:", df_clean['actual_price'].isnull().sum())

Resumen después de limpieza:
count    1.067544e+06
mean     2.311128e+04
std      1.355081e+07
min      0.000000e+00
25%      9.900000e+02
50%      1.599000e+03
75%      2.999000e+03
max      9.900000e+09
Name: actual_price, dtype: float64
Valores nulos: 35626

In [8]:
# Hago lo mismo con la columna discount_price
df_clean['discount_price'] = df_clean['discount_price'].astype(str)
# Eliminamos simbolos de moneda, comas y espacios
df_clean['discount_price'] = df_clean['discount_price'].str.replace(r'[^\d.]', '', regex=True)
# Reemplazos strings vacios con NaN
df_clean['discount_price'] = df_clean['discount_price'].replace('', np.nan)
# Convertimos a float
df_clean['discount_price'] = df_clean['discount_price'].astype(float)
# Verifica el resultado
print("\nResumen después de limpieza:")
print(df_clean['discount_price'].describe())
print("Valores nulos:", df_clean['discount_price'].isnull().sum())

Resumen después de limpieza:
count    9.808440e+05
mean     2.623161e+03
std      9.458191e+03
min      8.000000e+00
25%      3.890000e+02
50%      6.790000e+02
75%      1.399000e+03
max      1.249990e+06
Name: discount_price, dtype: float64
Valores nulos: 122326

In [9]:
# Limpio las columnas 'actual_price' y 'discount_price' de una sola vez
for col in ['actual_price', 'discount_price']:
    df_clean[col] = (
        df_clean[col]
        .astype(str)
        .str.replace(r'[^\d.]', '', regex=True)
        .replace('', np.nan)
        .astype(float))

In [10]:
# Elimino la columna UnaUnnamed: 0
df_clean.drop(columns=['Unnamed: 0'], inplace=True)

In [11]:
# Convierto la columna 'no_of_ratings a int:
# Paso 1: Reemplazar comas, convertir a numérico (maneja NaN automáticamente)
df_clean['no_of_ratings'] = (
    df_clean['no_of_ratings']
    .astype(str)
    .str.replace(',', '', regex=True)
)

# Paso 2: Convertir a float primero para permitir NaNs
df_clean['no_of_ratings'] = pd.to_numeric(df_clean['no_of_ratings'], errors='coerce')

# Paso 3: Rellenar nulos si es necesario (aquí con 0, puedes cambiarlo por mediana si prefieres)
df_clean['no_of_ratings'] = df_clean['no_of_ratings'].fillna(0).astype(int)

In [12]:
df_clean.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0

In [13]:
# Analizando los datos veo que estaria bien crear la columna 'discount_percentage' para ver el descuento que tiene el producto.
df_clean['discount_percent'] = (
    (df_clean['actual_price'] - df_clean['discount_price']) / df_clean['actual_price']
).round(2) * 100

In [14]:
df_clean.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,discount_percent
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0,44.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0,39.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0,44.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0,45.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0,49.0

In [16]:
# Con los datos ya limpios y estructurados guardo el dataset limpo en un nuevo archivo CSV
df_clean.to_csv("../data/data_procesed/amazon_data_clean.csv", index=False)